        @import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

        /* Tipografía */
        h2,
        h3,
        h4,
        h5 {
            font-family: 'Cascadia Code';
            font-size: 2rem;
        }

        h1 {
            font-size: 4rem;
            font-family: 'Cascadia Code';
        }

        label,
        input,
        textarea,
        p,
        a,
        ul {
            font-family: 'Josefin Sans';
            font-size: 1.5rem;
        }

        /* Portada */

        /* Carousel */
        .carousel img {

            aspect-ratio: 16/9;
            object-fit: cover;
        }

        .carousel {
            margin: 0 auto;
            width: 80%;
            max-width: 1000px;

        }

        article {
            padding-bottom: 30px;
        }

        /* Tiendas, Restaurantes y Ocio */
        #tienResOcio img {
            width: 70%;
        }

        #tienResOcio {
            padding: 30px 15px;
        }

        /* Modales */
        .modal img,
        .modal p {
            width: 90%;
            margin: 0 auto;
            display: block;
            overflow: hidden;

        }

        .col img {
            cursor: pointer;
        }

        .tienda:hover {
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
            transition: 0.3s;
        }

        /* Ocio*/
        /* Estilo para hacer las cajas más pequeñas */

        .tienda-card img {
            width: 80%;
            height: 80%;
            object-fit: contain;
        }


        .tienda-card:hover {
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
            transition: 0.3s;
        }

        /* Contacto */
        .form-label {
            margin-bottom: 0.5rem;
        }

        .resultado {
            white-space: pre-wrap;
            font-family: monospace;
        }

        @media (max-width: 576px) {
            .form-control {
                margin-bottom: 1.5rem !important;
            }

            .form-label {
                margin-bottom: 0.75rem;
                display: block;
            }

            .mb-4 {
                margin-bottom: 2rem !important;
            }
        }